html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 8px;
    background: rgba(10, 10, 10,.4); 
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(10, 10, 10,.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(10, 10, 10,.4); 
}
/*header*/
header{
    width: 100%;
    height: 15%;
    background: rgb(78, 207, 247);
    box-shadow: 2px 2px 6px rgba(10, 10, 10, .2)
}
header>nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header>nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header>nav>ul>li{
    display: inline-block;
    color:white;
    margin:1.5%;
    font-size: 1.25em; 
}


/*background*/


#wave {
    z-index: 1000;
    top :0;
    position: relative;
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(0, 195, 255), rgb(48, 240, 198))
}

#wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 100%;
    background-color: white;
    right: -0.5%;
    top: 65.45%;        
}

#wave::before {
    content: "kjlklk";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 56%;
    height: 80%;
    background-image: linear-gradient(rgb(0, 195, 255) -80%, rgb(48, 240, 198) 90%) ;
    left: -5%;
    top: 45%;
}


main{
    top: 20%;
    position: relative;
    z-index: 1000;
}

